streamlit
langchain-groq
langchain-core
langchain-community
tavily-python
pypdf
beautifulsoup4
readability-lxml
sentence-transformers
chromadb
markdown-pdf
scikit-learn
numpy
requests
torchvision
protobuf==3.20.3
