streamlit
langchain-groq
langchain-core
langchain-community
tavily-python
pypdf
beautifulsoup4
readability-lxml
sentence-transformers
chromadb==0.5.23
markdown-pdf
scikit-learn
numpy
requests
protobuf>=3.20.0,<5.0.0
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
