streamlit
langchain-groq
langchain-core
langchain-community
tavily-python
pypdf
beautifulsoup4
readability-lxml
sentence-transformers
chromadb==0.5.23
markdown-pdf
scikit-learn
numpy
requests
torch
torchvision
protobuf>=3.20.0,<5.0.0
